@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap')
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@font-face {
font-family: 'japanese';
src: url('..fonts/07LogoTypeGothic7.ttf') format('truetype');
}
body{
  margin: 0;
  padding: 0;
  font-size-adjust: none;
  -webkit-font-size-adjust: none;
}
.header{
  background-image:url(https://blog-imgs-134.fc2.com/a/m/i/aminyan123/7B6E681A-075C-43DB-B395-0582A453BE9B.jpeg);
  height:475px;
  background-size:cover;
  margin: 0;
  padding: 0;
  font-size:0;
  background-color:#f5f5f5;
}
.title{
  font-size:140px;
  font-family:'Caveat';
  text-align:center;
  color:white;
}

.sub{
  font-size:80px;
  font-family:'Caveat';
  margin-left:20px;
  line-height:20px;
  color:white;
}
.content{
  height:3300px;
  background-color:#f5f5f5;
  margin: 0;
  padding: 0;
}
.title2{
    text-align:center;
    font-size:65px;
    margin-top:0;
    font-family: 'Amatic SC', cursive;
}
.introduce{
    float:left;
    width:100%;
    height:auto;
}
.img-my{
    clip-path: circle(40%);
    width:20%;
    height:12%;
    float:left;
    margin-top:5%;
}
.introduce-sentence{
    font-family:'japanese';
    font-size:20px;
    margin-left:25%;
    height:auto;
    line-height:60px;
    margin-top:5.5%;
    font-weight:bold;
}
.skill{
  padding-top:23%;
  width:100%;
  height:auto;
  float：left;
}
.skill-skill{
    padding-top:9%;
    font-size:78px;
    text-align:center;
    font-family: 'Amatic SC', cursive;
}
table th{
padding:1% 5%;
font-family:‘M PLUS Rounded 1c’;
font-size:30px;
text-align:center;
background:white;
}
table td{
padding:2% 5%;
font-family:‘M PLUS Rounded 1c’;
background:white;
font-size:26px;
}
table{
width:80%;
height:17%;
padding:0 0 0 19%;
font-family:‘M PLUS Rounded 1c’;
}

.language{
width:30%;
text-align:center;
font-size:40px;
}
.experience{
width:40%;
font-size:30px;
}
.work-img{
    padding:5% 2% 5% 13%;
    width:80%;
    height:11%;
    border-radius:40% 80% 35% 65% / 50% 50% 70% 40%;
}
.work-img2{
    border-radius:40% 80% 35% 65% / 50% 30% 50% 40%;
}
.work-title{
    text-align:center;
    font-size:65px;
    margin-top:12%;
    font-family: 'Amatic SC', cursive;
}
.work-content{
    float:left;
}
.work-explain{
   font-family:‘M PLUS Rounded 1c’;
    font-size:24px;
    padding:0 0 5% 0;
    width:40%;
}
.works{
font-size:30px;
}
.my-link{
    float:right;
    font-size:30px;
    list-style:none;
    padding:2%;
}
.link{
position:fixed;
top:0;
width:100%;
font-family: 'Amatic SC', cursive;
}
a{
text-decoration: none;
color:#191970;
}
.footer{
position:relative;
bottom:0;
width:100%;
background-color:darkgrey;
height:50px;
color:darkslategrey;
font-size:30px;
text-align:center;
font-family:'Amatic SC', cursive;
}







