{% load static %}



<html lang="ja">
<head>

    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
</head>


<body>
<div class="header">
    <h1 class=title>Portfolio</h1>
    <p class="sub sub3">University Student</p>
    <p class="sub sub2">Web Engineer</p>
</div>
<div class=content>
    <div class="profile">
        <h1 class="title2">PROFILE</h1>
        <div class="introduce">
            <div class="pr-img">
                <img class="img-my" src="{% static 'img/my.jpg' %}">
            </div>
            <div class="introduce-sentence">
                初めまして。私は平成１４年生まれの大学生のまうです。現在学部二年生です。<br>
                将来的にWEBエンジニアになるという夢をかなえるために現在独学で勉強を進めております。<br>
                目指すきっかけとなったのは学部一年生における授業で学んだC言語でした。そこでエラーが発生しては<br>
                それを直していくという地道な作業の中にある達成感に惹かれ、そこから少しずつ勉強を始めました。<br>
                スクールなどには通っておらず、勉強方法は主に独学です。
            </div>
        </div>

    </div>
    <div class="skill">
        <h1 class="skill-skill">SKILL</h1>
        <table>
            <tr class="skill-table">
                <th>言語</th><th>経験</th>
            </tr>
            <tr class="skill-table">
                <td class="language">python</td><td class="experience">書籍で大まかな文法を学び、Djangoを<br>用いたアプリ開発で利用しました。</td>
            </tr>
            <tr class="skill-table">
                <td class="language">HTML&CSS</td><td class="experience">プログラミングの学習サイトを用いて<br>学び、このポートフォリオサイトなどで<br>利用しました。</td>
            </tr>
            <tr class="skill-table">
                <td class="language">C言語</td><td class="experience">大学の授業で学びました。<br>主にデータの分析に用いました。</td>
            </tr>
            <tr class="skill-table">
                <th>その他</th><th>経験</th>
            </tr>
            <tr class="skill-table">
                <td class="language">Django</td><td class="experience">Djangoを用いてアプリを作成、ネットに公開しました。</td>
            </tr>
            <tr class="skill-table">
                <td class="language">Git</td><td class="experience">このポートフォリオサイト、Djangoを<br>用いたアプリを作成するときに利用しました。</td>
            </tr>
        </table>
    </div>


    </div>
</div>
</body>
</html>