{% load static %}



<html lang="ja">
<head>

    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
</head>


<body>
<div class="header">
    <h1 class=title>Portfolio</h1>
    <p class="sub sub3">University Student</p>
    <p class="sub sub2">Web Engineer</p>
</div>
<div class=content>
    <div class="link">
        <ul>
            <li class="my-link"><a href="#WORKS">WORKS</a></li>
        <li class="my-link"><a href="#SKILL">SKILL</a></li>
        <li class="my-link"><a href="#PROFILE">PROFILE</a></li>
        <li class="my-link"></li>
        </ul>
    </div>
    <div class="profile">
        <h1 class="title2" id="PROFILE">PROFILE</h1>
        <div class="introduce">
            <div class="pr-img">
                <img class="img-my" src="{% static 'img/my.jpg' %}">
            </div>
            <div class="introduce-sentence">
                初めまして。私は平成１４年生まれの大学生のまうです。現在学部二年生です。<br>
                将来的にWEBエンジニアになるという夢をかなえるために現在独学で勉強を進めております。<br>
                目指すきっかけとなったのは学部一年生における授業で学んだC言語でした。そこでエラーが発生しては<br>
                それを直していくという地道な作業の中にある達成感に惹かれ、そこから少しずつ勉強を始めました。<br>
                アプリを作れるうえに、実験データを解析するときにも有用だと思い、現在は主にpythonを学んでいます。
            </div>
        </div>

    </div>
    <div class="skill">
        <h1 class="skill-skill" id="SKILL">SKILL</h1>
        <table>
            <tr class="skill-table">
                <th>言語</th><th>経験</th>
            </tr>
            <tr class="skill-table">
                <td class="language">python</td><td class="experience">書籍で大まかな文法を学び、Djangoを用いたアプリ開発で利用しました。</td>
            </tr>
            <tr class="skill-table">
                <td class="language">HTML&CSS</td><td class="experience">プログラミングの学習サイトを用いて学び、このポートフォリオサイトなどで利用しました。</td>
            </tr>
            <tr class="skill-table">
                <td class="language">C言語</td><td class="experience">大学の授業で学びました。<br>主にデータの分析に用いました。</td>
            </tr>
            <tr class="skill-table">
                <th>その他</th><th>経験</th>
            </tr>
            <tr class="skill-table">
                <td class="language">Django</td><td class="experience">Djangoを用いてアプリを<br>作成、ネットに公開しました。</td>
            </tr>
            <tr class="skill-table">
                <td class="language">Git</td><td class="experience">このポートフォリオサイト、Djangoを用いたアプリを作成するときに利用しました。</td>
            </tr>
        </table>
    </div>
<div class="work">
    <h1 class="work-title" id="WORKS">WORKS</h1>
    <div class="work-content">
        <a href="https://private.study-report-management.com/">
            <img src="{% static 'img/diary.png' %}" class="work-img">
        </a>
    </div>
    <div class="work-content work-explain">
        <a href="https://private.study-report-management.com/">
        <h1 class="works">勉強成果記録アプリ</h1>
        </a>
        書籍を参考にして一人で作成しました。もともとは日記作成アプリでしたが、自分が日記を書くことに興味が<br>ないため勉強の記録アプリに作り変えました。作成する過程で多くのエラーが出て、解決に一日以上かかることもありとても苦労しました。一番工夫した点は勉強時間を記録するフォームを作り、総勉強時間を表示する機能です。pythonとそのフレームワークであるDjangoを<br>用いて作成しました。それをAWSをもちいてデプロイ<br>しました。ソースコードは以下のリンクのGithubにあります。
        <a href="https://github.com/makun7111/private_diary">GitHubのリンク</a>
    </div>
    <div class="work-content">
        <a href="https://portfolio.syudy-time-management.com/">
            <img src="{% static 'img/portfolio.png' %}" class="work-img work-img2">
        </a>
    </div>
    <div class="work-content work-explain">
        <a href="https://portfolio.syudy-time-management.com/">
        <h1 class="works">ポートフォリオ</h1>
        </a>
        自分のプロフィールや作った作品を紹介するために作りました。こちらも勉強成果記録アプリと同様にDjangoを用いて作り、AWSでデプロイしました。HTML＆CSSが自分の思い通りに動いてくれずに苦労しましたが<br>何とか形にすることができました。ソースコードは以下のリンクのGithubにあります。<br>

        <a href="https://github.com/makun7111/portfolio">GitHubのリンク</a>
    </div>
</div>


</div>
<div class="footer">
    お問い合わせはこちらのメールアドレスによろしくお願いします。<a href="mailto:makun1010it@gmail.com" class="mail-addres">makun1010it@gmail.com</a>
</div>
</body>
</html>